<!DOCTYPE html>
<html>
    <head>
        <title>
            Learn Node Js | 2020
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <form class="formContainer" action="/user/create-user" method="POST">
                <input type="text" name="username" placeholder="username"/>
                <input type="contact" name="contact" placeholder="contact"/>
                <input type="mail" name="email" placeholder="email"/>
                <button type="submit" class="createUser">
                    Create User
                </button>
            </form>
        </div>
    </body>    
</html>